<!DOCTYPE html>
<html lang="pt_br">
<!--Idioma = "Português"-->

<head>
    <!--<meta> define propriedades da página-->
    <meta charset="UTF-8">
    <!--Tipo de texto = "UTF-8"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Permite que o documento possa ser adaptado para telas maiores ou menores-->
    <title>Proffy | Sua plataforma de estudos online</title>

    <!-- Outra forma de adicionar o css ao doc html
   <style> 
   /* Ordem de força no css: # > . > tag */
        h1{ /* referencia um elemento do doc html | referência de class é feita a partir de um .nome_da_classe | referência por id é feita por #nome_do_id */
           color: red; 
        }
    </style> -->

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
    <!--Link para adicionar fonte diferente de letra do documento  -->

</head>

<body id="page-give-classes">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">
            </div>

            <div class="header-content">
                <strong>Que incrível que você quer dar aulas</strong>
                <p>O primeiro passo é preencher esse formulário de inscrição</p>
            </div>
        </header>

        <main>
            <form action="/save-classes" id="create-class" method="POST">
                <fieldset> <!--Cria separações de temas relacionados em um formulário-->
                    <legend>Seus dados</legend> <!--Da um título para cada separação-->

                    <div class="input-block">
                        <label for="name">Nome completo</label>
                        <input name="name" id="name" required>
                    </div>

                    <div class="input-block">
                        <label for="avatar">Link da sua foto <small>(comece com https://)</small> <!-- Adiciona um texto pequeno ao lado do principal--> </label>
                        <input type="url" name="avatar" id="avatar" required>
                    </div>

                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                        <input type="number" name="whatsapp" id="whatsapp" required>
                    </div>

                    <div class="textarea-block">
                        <label for="bio">Biografia</label>
                        <textarea name="bio" id="bio" required></textarea>
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Sobre a aula</legend>
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject" required>
                            <option value="">Selecione uma opção</option>

                            {%for subject in subjects %}
                                <option value="{{loop.index}}">{{subject}}</option>
                            {%endfor%}

                        </select>
                    </div>

                    <div class="input-block">
                        <label for="cost">Custo da sua hora/aula <small>(R$)</small></label>
                        <input type="cost" id="cost" name="cost" required>
                    </div>
                </fieldset>

                <fieldset id="schedule-items">
                    <legend>Horários disponíveis
                        <button type="button" id="add-time">+ Novo Horário</button>
                    </legend>

                    <div class="schedule-item">

                        <div class="select-block">
                            <label for="weekday">Dia da semana</label>
                            <select name="weekday[]" required> <!-- [] significa que o elemento pode receber vários valores, agupá-los-->
                               <option value="">Selecione uma opção</option>

                                {%for weekday in weekdays %}
                                    <option value="{{loop.index0}}">{{weekday}}</option>
                                {%endfor%}

                            </select>
                        </div>

                        <div class="input-block">
                            <label for="time_from">Das</label>
                            <input type="time" name="time_from[]" required>
                        </div>

                        <div class="input-block">
                            <label for="time_to">Até</label>
                            <input type="time" name="time_to[]" required>
                        </div>

                    </div>

                </fieldset>
            </form>

            <footer>
                <p>
                    <img src="/images/icons/warning.svg" alt="Aviso importante">
                    Importante! <br>
                    Preencha todos os dados
                </p>
                <button type="submit" form="create-class">Salvar cadastro <!-- Recebe esse atributo form quando a tag button está fora da tag form, assim se referenciando a ela a partir do id dela-->
                </button>
            </footer>
        </main>
    </div>
    <script src="/scripts/addField.js"></script>
</body>

</html>